.header
{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    color: aqua;
}
.footer
{
    background-color: brown;
    color: aqua;
}

.container{
    margin: 0px;
}
*{
    margin: 0px;
}

.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin : 5px;
}

.menu li a{
    text-decoration: none;
    color: blue;
}

.right{
    float: right;
}

.box
{
    margin: 10px;
    padding: 5px;
    border: 1px,green;

}
